:root{
   --BG-COLOR:#3586ff;
}
.about-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;

}

.main-box{
    position: absolute;
    margin-top:5%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-box .block{
    position: absolute;
    width: 50px;
    height: 50px;
    /* background: #444; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.main-box button{
    position: relative;
    z-index: 1;
    margin: 10px;
    border: none;
    background:var(--BG-COLOR);
    font-size: 1rem;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 50px;
    box-shadow:10px 10px 30px ;
}

.main-box button{
    position: relative;
     text-decoration: none;
     background:var(--BG-COLOR);
     padding:5px 25px;
     border-radius:49.5px ;
     font-weight: 600;
     
  }
 
  .main-box button span{
     width: 100%;
    position: relative;
    z-index: 1;
 
  }
  .main-box button span:hover{
 color: white;
  }
  .main-box button::before{
    content: '';
    position: absolute;
    inset: 2px;
    background-color:rgb(255, 255, 255);
    border-radius: 48px;
    transition: 0.5s;
 }
 .main-box button:hover::before{
    opacity: 0.7;
   
 }
 .main-box button::after{
    content: '';
    position: absolute;
    inset: 0px;
    background:var(--BG-COLOR);
    border-radius: 48px;
    transition: 0.5s;
    opacity: 0;
 }
  
 .main-box button:hover::after{
    opacity: 1;
 }
 .main-box button a {
    text-decoration: none;

    color: black;
 }
 .main-box button a span{
    background: transparent;
 }
 a span:hover{
    background: transparent;
    color: white;
     }
     header nav li:hover{
        color: white;
      }
      .title{
        background:var(--BG-COLOR);
     -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
        position: absolute;
        font-size: 3rem;
        font-weight: bold;
        text-transform: capitalize;
        margin-bottom: 5%;
    }
 @media only screen and (max-width:450px){
    .main-box .block{
        width: 35px; 
       
    }
    .title{
       
        background: var(--BG-COLOR);
       -webkit-background-clip:text;
        -webkit-text-fill-color: transparent;
        position: absolute;
        font-size: 2.2rem;
        font-weight: bold;
        text-transform: capitalize;
        padding-bottom: 35%;
    }
    .about-box{
        height: 50vh;
        text-align: center;
    }
 }
